* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
    margin-top: 15px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1D232C;
}

.n1{
    display:none;
}

@media screen and (max-width:600px){
    .n1{
        display:block;
    }
    .navbar-links{
        display: none;
    }
    .img{
        display: none;
    }
    .ser1{
        display: none;
    }
    .ser2{
        flex-direction: column;
    }
}


.sidenav {
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%; 
    padding: 20px;
    color: white;
    transition: 1.5s;
}


.header{
    display:flex;
    justify-content: center;
    gap:50px;
    padding: 50px;
}

#btn{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   background-color: #1D232C;
   color: white;
   cursor: pointer;
}

.snl{
    margin-bottom: 30px;

}

.sidenav-links a{
    text-decoration: none;
    color:white;
}

.sidenav-links a:hover{
    text-decoration: underline;
    color:white;
}

.service{
    padding: 20px;
}

.ser1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ser2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.ser2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:10px;
    color:#1D232C;
    position: absolute;
    top:50%;
    left:18%;
    border-radius: 10px;
    border:none;
}

.new1{
    position: relative;
    flex-basis: 20%;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}

.news input{
    padding: 11px;
    width:80vw;
    margin-bottom: 10px;
    border:solid black 3px;
}

.news button{
    margin-top: 10px;
    color:#F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: white;
}

.ps{
    margin-top: 20px;
}

#dm {
    cursor: pointer;
    color: blue;
}

#sec{
    min-height: 60%;
    min-width: 40%;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  }
  #one{
     padding: 10px;
     width:100%;
     box-sizing: border-box;
     margin-bottom: 20px;
  }
  #two{
     padding: 10px;
     width:100%;
     box-sizing: border-box;
     margin-bottom: 20px;
  }
  #three{
     padding: 10px;
     width:100%;
     box-sizing: border-box;
     margin-bottom: 20px;
  }
  #sub{
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: medium;
  }
  #fir{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }

  .ps{
    margin-top:20px;
  }

  .product-search{
      width:80%;
      border:2px solid black;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin:auto;
  }

   .product-search input{
    border:none;
    background-color: transparent;
    width:100%;
   }

   .product-search input:focus{
    outline:none;
   }

   .products{
      padding: 20px;
      display: flex;
      gap:10px;
      flex-wrap:wrap;
      justify-content: space-around;
   }

   .productbox{
    text-align: center;
    flex-basis: 20%;
   }

   .productbox img{
      border-radius: 7px;
   }


   



          